/deployToTeamcityAgent/configuration/tokensSensitive.ps1
/deployToTeamcityAgent/deploy.log.txt
/deployToTeamcityAgent/bin
/Objectivity.TeamcityMetarunners/TestTrend/New-TeamcityTrendReport.Tests.ps1
/Objectivity.TeamcityMetarunners/baseModules/
/build/test.xml